<h1>Log In</h1>
<p id="alert"><%= alert %></p>
<%= form_tag sessions_path do %>
	<div class="field">
		<%= label_tag :email %>
		</div>
			<div class="field">
				<%= text_field_tag :email, params[:email] %>
					</div>
						<div class="field">
					<%= label_tag :password %>
				</div>
			<div>
		<%= password_field_tag :password %>
	</div>
<div class="actions"><%= submit_tag "Log In" %></div>
<% end %>
<p>Don't have an account?</p>
<div>
<%= link_to 'SIGN UP', new_customer_path %>
</div>