<h1>Log In</h1>
<div>
<p id="alert"><%= alert %></p>
</div>
<%= form_tag sessions_path do %>
	<div class="field">
		<%= label_tag :email %>
		</div>
			<div class="field">
				<%= text_field_tag :email, params[:email] %>
					</div>
						<div class="field">
					<%= label_tag :password %>
				</div>
			<div class="last-field">
		<%= password_field_tag :password %>
	</div>
<div class="actions"><%= submit_tag "LOG IN", :class => "button" %></div>
<% end %>
<div>
	<p>Don't have an account?</p>
</div>
<div>
<%= link_to 'SIGN UP', new_customer_path, :class => "btn-bg-sbmt" %>
</div>