<h1>CART</h1>
<% if @line_items %>
<table>
    <tr>
        <% @line_items.each do |item| %>
            <% item.each do |it| %>
                <td class="img"><%= image_tag it.book.image.first %></td>
                <td class="td"><%= it.quantity %></td>
                <td class="td"><%= it.book.title %></td>
                <td class="td"><%= it.book.price %></td>
                <td class="td"><%= link_to 'REMOVE', it, method: :delete, data: {confirm: 'Are you sure?'} %></td>
            <% end %>    
        <% end %>    
    </tr>
</table>
<% end %>
<div>
<%= link_to 'CHECKOUT', '/orders/new' %>
</div>