<h1>CREATE A FLIP BOOK</h1>
<h3>UPLOAD UP T0 50 PHOTOS</h3>
<br>
<br>
<%= form_with model: @book, local: true  do |f| %>
  <div class="field">
    <%= f.label :title %><br>
  </div>
  <div class="field">
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.file_field :image, multiple: true, :class => "choose-files" %>
  </div>
  <div>
    <%= f.submit "SUBMIT", :class => "button"%>
  </div>
<% end %>
