<h1>CREATE A FLIP BOOK</h1>
<h3>UPLOAD UP T0 50 PHOTOS</h3>
<br>
<br>
<div class="field">
<%= form_with model: @book, local: true  do |f| %>
  <%= f.label :title %><br>
  <%= f.text_field :title %><br><br>
  <%= f.file_field :image, multiple: true %><br>
  <br><br>
  <%= f.submit %>
<% end %>
</div>
