<!DOCTYPE html>
<html>
  <head>
    <title>BurstBook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
  <span class="leftnav">
    <%= link_to 'CREATE A BOOK', '/books/new' %>
  </span>
    <% if current_customer %>
      <%= current_customer.name %>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to 'DASHBOARD', '/dashboard' %>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to 'CART', '/orders/cart' %>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to 'LOG OUT', session_path('dummy'), method: :delete %>
    <% else %>
      <span class="newsession"><%= link_to 'LOG IN', login_path %>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to 'SIGN UP', new_customer_path %></span>
    <% end %>
  </nav>
    <%= yield %>
  <footer>
    <div>
      <%= link_to 'ABOUT', "#" %>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to 'HOME', root_path %>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to 'FAQ', '/faq' %>
    &nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to 'CONTACT', "#" %>
    </div>
  </footer>
  </body>
</html>
