<h1 id="burst">BURST BOOK</h1>
<h3>BUILD YOUR OWN</h3>
<h1 id="secondh1">FLIP BOOK</h1>
<p class="marker">Upload your photos</p>
<p><%= image_tag("flip_book_in_action.jpg", :alt => "flip book in action") %></p>
<p class="marker">We'll print them out for you</p>
<p><%= image_tag("flip_book_in_use.jpg", :alt => "flip book in use") %></p>

<% if current_customer %>
      <div>
      <%= link_to 'CREATE A BOOK', '/books/new' %>
      </div>
    <% else %>
      <div>
        <%= link_to 'SIGN UP NOW', new_customer_path %>
      </div>
      <p>OR</p>
      <div>
        <%= link_to 'LOG IN', login_path %>
      </div>
    <% end %>